.image {
  position: absolute;
  z-index: 0;
  display: block;
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.full {
  transition: opacity 400ms ease 0ms;
  -webkit-transition: opacity 400ms ease 0ms;
  -moz-transition: opacity 400ms ease 0ms;
  -ms-transition: opacity 400ms ease 0ms;
  -o-transition: opacity 400ms ease 0ms;
}

.thumb {
  filter: blur(20px);
  transform: scale(1.1);
  transition: visibility 0ms ease 400ms;
  -webkit-transition: visibility 0ms ease 400ms;
  -moz-transition: visibility 0ms ease 400ms;
  -ms-transition: visibility 0ms ease 400ms;
  -o-transition: visibility 0ms ease 400ms;
}
