@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

// Colours
$white: #fff;
$dark-grey: #677587;
$light-grey: #c9c9c9;
$warning: #ed2828;
$light-transparent-bg: rgba(transparent, 0.3);

// Shadows
$box-custom-shadow: rgba(0, 0, 0, 0.7);

// Transition properties
$standard-scale: 1.015;
$cubic-bezier-transition: 0.1s cubic-bezier(0.77, 0.2, 0.05, 1);

// Animations
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
