// Config has to come first
@import '_config';
@import '_backgrounds';
@import '_buttons';
@import '_dropdown';

* {
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: $dark-grey;
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: $white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.loading-spinner {
  z-index: 1;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 65%;
  left: 50%;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.6rem;
}

form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid $white;
  width: 22vw;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: $light-transparent-bg;
  margin-top: 0;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  animation: FadeIn 3s ease 0s;
  -webkit-animation: FadeIn 3s ease 0s;

  i {
    font-size: 1.3rem;
    position: absolute;
    // transform: translate(343px, 10px);
    top: 34px;
    // left: 5px;
    // top: 15%;
    right: 35px;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

input {
  width: 100%;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 700;
  outline: 0;
  border: 1px solid $white;
  color: $white;
  background-color: transparent;
  margin-bottom: 0.7rem;
  padding: 8px;
  // transform: scale(1);
  // transition: border $cubic-bezier-transition;
  // -webkit-transition: border $cubic-bezier-transition;
  // -moz-transition: border $cubic-bezier-transition;
  // -ms-transition: border $cubic-bezier-transition;
  // -o-transition: border $cubic-bezier-transition;
}

input:hover,
input:focus {
  background-color: $light-transparent-bg;
  // border: 2px solid $white;
  // transform: scale($standard-scale);
  // -webkit-transform: scale($standard-scale);
  // -moz-transform: scale($standard-scale);
  // -ms-transform: scale($standard-scale);
  // -o-transform: scale($standard-scale);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $white;
  opacity: 1; /* Firefox */
  font-weight: 400;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $white;
  font-weight: normal;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $white;
  font-weight: normal;
}

.warning {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0.3rem 0;
  color: $warning;
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-warning {
  @extend .warning;
  margin: 2rem 0;
  font-weight: 400;
}

.results {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-transparent-bg;
  color: $white;
  padding: 0.1rem 0.5rem;
  margin: 1rem;
  border-radius: 6px;
  width: 22vw;
  border: 1px solid $white;

  #temp-icon {
    font-size: 1.8rem;
    vertical-align: text-top;
  }

  #weather-icon {
    font-size: 6rem;
  }

  #wind-icon {
    font-size: 1.8rem;
    vertical-align: middle;
  }

  #map-icon {
    font-size: 1.8rem;
    vertical-align: text-top;
  }

  h3 {
    text-transform: capitalize;
  }
}

.credits {
  position: absolute;

  bottom: 8%;
  left: 50%;
  width: 100%;

  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  a {
    text-decoration: none;
    color: $white;
    font-size: 0.9rem;

    i {
      vertical-align: text-bottom;
      font-size: 1.4rem;
    }
  }

  a:hover {
    border-bottom: 2px $white solid;
  }
}

@media only screen and (max-width: 1450px) {
  form {
    width: 30vw;
  }
  .results {
    width: 30vw;
  }
}

@media only screen and (max-width: 1250px) {
  form {
    width: 65vw;
  }
  .results {
    width: 65vw;
  }
  .warning {
    font-size: 1rem;
    padding-bottom: 0;
  }

  .credits {
    bottom: 3%;
    left: 50%;
    width: 100%;

    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 600px) {
  .loading-spinner {
    z-index: 1;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 70%;
    left: 50%;
  }

  form {
    width: 90vw;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.1rem;
  }

  .results {
    padding: 0.1rem 0.35rem;
    margin: 0.4rem 0 0 0;
    width: 90vw;

    #temp-icon {
      font-size: 1.2rem;
    }

    #weather-icon {
      font-size: 4rem;
    }

    #wind-icon {
      font-size: 1.2rem;
    }

    #map-icon {
      font-size: 1.2rem;
    }
  }

  .credits a {
    font-size: 0.8rem;
  }
}

// Really small mobile screens hide credits
@media only screen and (max-width: 350px) {
  .credits {
    display: none;
  }
}

@media only screen and (max-height: 570px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 0.9rem;
  }
  .results {
    padding: 0.1rem 0.3rem;

    #temp-icon {
      font-size: 1rem;
      vertical-align: baseline;
    }

    #weather-icon {
      font-size: 3.5rem;
    }

    #wind-icon {
      font-size: 1rem;
    }

    #map-icon {
      font-size: 1rem;
    }
  }
  .button,
  form input {
    font-size: 0.9rem;
  }
}
