@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

$white: #fff;
$dark-grey: #677587;
$light-grey: #c9c9c9;

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 2rem;
}

h1 i {
  font-size: 1.8rem;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-grey;
  color: $white;
}

span {
  background-color: rgba($dark-grey, $alpha: 0.2);
  color: $white;
  // padding: 0.7rem;
  padding: 0.1rem 0.5rem;
  margin: 1rem;
  border-radius: 6px;
}

.credits {
  position: fixed;
  bottom: 1.1rem;
}

.credits a {
  text-decoration: none;
  color: $white;
  font-size: 1rem;
}

.credits a:hover {
  border-bottom: 1px $white solid;
}

.clear {
  background-image: url('https://images.pexels.com/photos/1089168/pexels-photo-1089168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clouds {
  background-image: url('https://images.pexels.com/photos/4275890/pexels-photo-4275890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.drizzle {
  background-image: url('https://images.unsplash.com/photo-1544994108-7b68a790caba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.rain {
  background-image: url('https://images.pexels.com/photos/1463530/pexels-photo-1463530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.thunderstorm {
  background-image: url('https://images.pexels.com/photos/1162251/pexels-photo-1162251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.snow {
  background-image: url('https://images.pexels.com/photos/3462588/pexels-photo-3462588.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fog {
  background-image: url('https://images.pexels.com/photos/163323/fog-dawn-landscape-morgenstimmung-163323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.2rem;
  }
  h1 i {
    font-size: 1rem;
  }
  span {
    background-color: rgba($dark-grey, $alpha: 0.2);
    color: $white;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin: 0.4rem;
    border-radius: 6px;
  }
  .credits a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-height: 550px) {
  .credits {
    display: none;
  }
}
